* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.maincontainer {
  display:flex;
  justify-content: center;

  flex-wrap: wrap;
}
.infocontainer {
  text-align:center;
}
.lastupdate {
  padding:10px
}
.footer {
  display: flex;
  align-items: center;
  background-color: #f9fbe7;
}